@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.startPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startCase{
    position: relative;
    width: 96%;
    max-width: 1760px;
    height: 95%;
    max-height: 845px;
    border-radius: 37px;
    background: linear-gradient(225deg, #94e483 0%, #73bd64 100%);

}
.bgArrow{
    height: 75%;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}
.startCaseHeader{
    top: 0px;
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.schLeft{
    margin-left: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.schLogo{
    height: 50px;
}



nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
    display: flex; /* Располагаем элементы в ряд */
    gap: 13px;
}


nav a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}


.schPlanBtn{
    cursor: pointer;
    margin-right: 1.5%;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 29px;
    width: 10%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.2s, color 0.2s; /* Плавный переход */

}
.schPlanBtn:hover{
    background: #E1FFDB;
    color: #7CC86D;
}
.scmTopLine{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.RadiusText {
    border: 1px solid #fff;
    border-radius: 83px;
    padding: 0 15px;
    max-width: fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.SCMain {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: absolute; /* Абсолютное позиционирование для центрирования */
    top: 50%;
    transform: translateY(-50%);
    left: 5%; /* Чтобы элемент был выровнен по ширине в 70% */
}

.scmTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.scmtTitle{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 170px;
}
.scmtImg{
    height: 140px;
}
.scmInfoBtns{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.scmIBLE{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}



/* анимация */
.scmInfoBox {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 18px;
    width: 346px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative; /* Для абсолютного позиционирования потомков */
    transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.scmInfoBox:hover {
    background-color: #E8FBE5; /* Изменение фона при наведении */
}

.scmibDes {
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

.scmInfoBox:hover .scmibDes {
    color: #76C066; /* Изменение цвета текста при наведении на .scmInfoBox */
}

.scmibTitle {
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

.scmInfoBox:hover .scmibTitle {
    color: #76C066; /* Изменение цвета текста при наведении на .scmInfoBox */
}

.scmibArrow {
    position: absolute;
    top: 15px; /* Отступ сверху */
    right: 15px; /* Отступ справа */
    transition: filter 0.3s; /* Плавное изменение фильтра */
}


/* анимация-end */





body::-webkit-scrollbar {
    display: none;
}






























.dirInfoPage{
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dipLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 35px;
}
.dipTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 75px;
    color: black;

}
.dipDesc{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 37px;
    color: #535353;
}
.dipRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 35px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    cursor: pointer;
    min-width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.dipBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.dipbProg{
    text-decoration: none;
    cursor: pointer;
    padding: 0 65px;
    border-radius: 29px;
    height: 50px;
    background: #76c066;

    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s, background 0.2s; /* Плавное изменение цвета текста */






}

.dipbQue{
    cursor: pointer;
    padding: 0 35px;
    border-radius: 29px;
    height: 50px;
    background: #e1ffdb;
    color: #7cc86d;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s, background 0.2s; /* Плавное изменение цвета текста */

}
.dipbProg:hover{
    background: #e1ffdb;
    color: #7cc86d;
}
.dipbQue:hover{
    background: #76c066;
    color: white;
}










.activityPage{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
}
.apTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: black;
    margin-left: 1.5%;
}

.apStrokies{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.apStroke{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apsStroke{

    border-radius: 200px;
    height: 55px;

    padding: 0 20px;
    background: #e8fbe5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;

}
.apssImg{
    height: 30px;
}
.apssTxt{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #76c066;
}




header{
    top: -100px; /* Начальная позиция за пределами экрана */

    z-index: 1001;
    /*top: 10px;*/
    position: fixed;
    width: 100%;
    transition: top 0.5s ease; /* Плавная анимация */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.hLeft{
    border-radius: 37px;
    height: 50px;
    width: auto;
    margin-left: 1.5%;
    background: linear-gradient(225deg, #94e483 0%, #73bd64 100%);
}
.hlContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-right: 30px;
    gap: 15px;
    height: 100%;
    width: fit-content;
}
.hlcLogo{
    margin-left: 1.5%;
    height: 40px;
}
.hlcTxt{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-decoration: none;
    white-space: nowrap; /* Добавляем это свойство */

}
.hBtn{
    text-decoration: none;
    cursor: pointer;
    border-radius: 29px;
    height: 50px;
    background: #e8fbe5;
    padding: 0 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #7cc86d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5%;
    transition: color 0.2s, background 0.2s; /* Плавное изменение цвета текста */
}
.hBtn:hover{
    background: #76c066;
    color: white;
}
.carierPage{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.cpFrame{
    width: 100%;
    height: 90%;
    border-radius: 60px 60px 60px 60px;
    background: #e8fbe5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cpfLeft{

    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5%;
}
.cpfRight{
    z-index: 10;
    width: 45%;
    height: 100%;


}
.cpflTitle{
    z-index: 10;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 101%;

    color: black;
    margin-left: 1.5%;
    margin-top: 5%;
}
.cpflDes{
    z-index: 10;

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 1.5%;

    color: black;

}













.cpfRight {
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 3%;
    padding: 20 0px;
}
.cpfrMt{
    margin-top: 3%;
}
.accordion {
    background-color: #ffffff;
    border-radius: 12px;
    width: 90%;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.accordion-header {
    background-color: #effaf1;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #76c066;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
}

.icon{
    background-color: #7CC86D;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    background-color: #ffffff;
    padding: 0 15px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #4b4b4b;
}

.accordion-content p {
    margin: 15px 0;
}

.accordion.active .accordion-content {
    padding: 15px;
    max-height: 300px; /* Adjust max-height according to content */
}

.accordion.active .accordion-header .icon {
    transform: rotate(180deg);
}
.iconImg{
    height: 20px;
}

.cpfImgCont{
    width: 100%;
    height: 100%;
    position: relative;
}
.cpfImg{
    position: absolute;
    bottom: 0px;
}





























.TrailsPage{
    width: 100%;
    height: 100vh;
    background: #E8FBE5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 60px 60px 0px 0px;

}
.classDpPage{
    width: 100%;
    height: 5vh;
}

.tpLeft{
    margin-left: 1.5%;
    width: 40%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.tpRight{
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.tprTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 101%;
    color: #000;
}
.tprData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.tplBg {
    width: 100%;
    background: #f3f2f2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.tplbHeader {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #76c066;
    width: 100%;
    height: 65px;
    background: white;
    padding: 15px 0; /* Remove horizontal padding */
    box-sizing: border-box; /* Ensure padding is included in width/height */
    cursor: pointer;
    display: flex;
    justify-content: start; /* Center the text horizontally */
    padding-left: 20px;
    align-items: center;
    border-radius: 10px;
}

.tplbTitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #4b4b4b;
    margin-left: 20px;
    margin-top: 30px;
}
.tplbSp{
    height: 30px;
}

.tplBtns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
}
.tplbMore{
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 0 40px;
    border-radius: 29px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #76c066;
}
.tplbQue{
    text-decoration: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #76c066;
    padding: 0 40px;
    border-radius: 29px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.tplbQue:hover{
    background: #76c066;
    color: #fff;
}
.tplbMore:hover{
    background: #fff;
    color: #76c066;
}
.tprNone{
    margin-right: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background: white;
    height: 70vh;
    border-radius: 20px;
}
.pgatuPage{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15%
}
.ppHeader{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pphTitle {
    margin-left: 3%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    color: #000;
}
.pphDes{
    width: 35%;
    margin-right: 3%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 101%;
    color: #000;
}
.pphdGreen{
    color: #76C066;
}
.ppCases{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
.ppcLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ppclBox1{
    max-width: 555px;
    height: 235px;
    width: 30%;
    background: #e8fbe5;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}
.ppclbHeader{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ppclbhTitle{
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 101%;
    color: #76c066;
}
.ppclbhImg{
    margin-right: 10px;
    height: 80px;
}
.ppclbDes{
    margin-left: 10px;
    width: 85%;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 101%;
    color: #000;
}
.univesyPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10%;
}
.upHeader{
    margin-top: 5%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.uphTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    color: #000;
}
.upDes{
    width: 40%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 101%;
    color: #76c066;
}
.upContainer{
    width: 94%;
    height: 45vh;
    background: #e8fbe5;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.upcImg{
    width: 100%;
    border-radius: 20px;
}
.cocIC{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.upcDes{
    width: 45%;
    margin-right: 3%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 33px;
    color: #000;
}
.upBtns{

    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.upbHistory{
    text-decoration: none;
    cursor: pointer;
    height: 50px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #76C066;
    color: white;

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;

}
.upbVideo{
    cursor: pointer;
    height: 50px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #E8FBE5;
    color: #76C066;

    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.upbVideo:hover{
    background: #76C066;
    color: white;
}
.upbHistory:hover{
    background: #E8FBE5;
    color: #76C066;
}
.faqPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10%;

}

.gpTitle{
    margin-top: 5%;
    width: 94%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    color: #000;

}






.gpRess{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
}



.accordion-header2 {
    background-color: #effaf1;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #76c066;
    height: 80px;
    padding: 0 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
}
.icon2{
    background-color: #7CC86D;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.iconImg{
    height: 35px;
}

.senquePage{
    width: 100%;
    height: 90vh;
    background: #76C066;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    border-radius: 0 0 50px 50px;


}
.sqpHead{
    position: absolute;
    top: 0px;
    background: white;
    border-radius: 0 0 50px 50px;
    height: 80px;
    width: 100%;

}
.spHH{

    width: 100%;
    position: relative;
}
.spLeft{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 50px;
    width: 45%;
    margin-left: 5%;
}
.splTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 97%;
    color: #fff;
}
.spBox{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-top: 15vh;
}
.splDes{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 97%;
    color: #fff;
}
.spRight{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    width: 45%;
    margin-right: 7.5%;
}
.sprInput{
    width: 100%;
    height: 80px;
    border-radius: 23px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 97%;
    color: #929292;
    padding: 0 20px;

}
.sprInput2{
    width: 100%;
    height: 220px;
    border-radius: 23px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 97%;
    color: #929292;
    padding: 20px;

}
.sprBtn {
    margin-top: 20px;

    cursor: pointer;
    width: 100%;
    height: 80px;
    border-radius: 23px;
    border: 2px solid white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 0 20px;
    color: #ffffff;;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

.sprBtn:hover{
    background: white;
    color: #7CC86D;
}
.sprInput:focus, .sprInput2:focus {
    outline: none; /* Убирает выделение при активации */
    border-color: #66afe9; /* Изменяет цвет границы при фокусе */
}
.spBg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.spbgAtom{
    position: absolute;
    z-index: 100;
    width: 50%;
    bottom: -38vh;
    left: -20vh;
}
.mapPage{
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 7%;
}
.mpHBG{
    position: relative;
    width: 100%;
    height: 100%;
}

.mpHeader{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mphTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 97%;
    color: #000;
    margin-left: 5%;
}
.mphDes{
    font-family: "Open Sans", sans-serif;
    margin-right: 5%;
    font-weight: 600;
    font-size: 35px;
    line-height: 97%;
    color: #000;
}
.map{
    border-radius: 20px;
}
.Footer{
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.fMainCont{
    width: 96%;
    height: 80%;
    background: linear-gradient(225deg, #94e483 0%, #73bd64 100%);
    border-radius: 40px;
}
.fmContentContainer{
    position: relative;
    width: 100%;
    height: 100%;

}
.fmccCont{

    position: absolute;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1%;
}
.fmccLeft{
    width: 50%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5%;
}
.fmcclTitle{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 125px;
    color: #fff;
}
.fmcclBox{
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 3%;
}
.fmcclbTable{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}
.fmmclbLinks{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}
.fmccRight{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}
.fmccEmail{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}
.fmccPhone{
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}
.fmccrSocial{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
.socImg{
    height: 50px;
}
.fmccrBtns{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
}
.fmccrb{
    text-decoration: none;
    cursor: pointer;
    border-radius: 62px;
    padding: 0 30px;
    height: 45px;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #7fcb70;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fmccBg{

    width: 100%;
    height: 100%;
    position: absolute;
}
.fmccbImg{
    z-index: 0;
    position: absolute;
    right: 2%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
}
.copyrights{
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cLink{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #808080;
    text-decoration: none;
}